[user]
    name = Max Reiter
    email = {{.email}}

[init]
    defaultBranch = trunk

{{$homeDir := .chezmoi.homeDir -}}
{{$gitBaseDir := .gitBaseDir -}}
{{range $dir := .gitAltIncludeDirs -}}
{{$include := printf "%s/%s/**/.git" $gitBaseDir $dir -}}
[includeIf "gitdir:{{$include}}"]
    path = "{{$homeDir}}/.gitconfig-alt"

{{end}}
