[user]
	name = Max Reiter
	email = {{ .alt_email }}

[init]
	defaultBranch = trunk

[branch "trunk"]
	remote = origin
	merge = refs/heads/trunk

[core]
	sshCommand = ssh -i {{ .chezmoi.homeDir }}/.ssh/id_ed25519-alt
