[user]
	name = Max Reiter
	email = {{.email}}

[init]
	defaultBranch = trunk

{{- $homeDir := .chezmoi.homeDir -}}
{{- $gitBaseDir := .git_base_dir -}}
{{- range $dir := .git_alt_include_dirs -}}
	{{$include := printf "%s/%s/**/.git" $gitBaseDir $dir}}

	[includeIf "gitdir:{{$include}}"]
		path = "{{$homeDir}}/.gitconfig-alt"
{{- end -}}
