#!/bin/bash
{{- $homeDir := .chezmoi.homeDir}}

BASE_DIR="{{$homeDir}}/.xdg"
USER_DIRS="desktop documents downloads music pictures public templates videos"
WALLPAPERS_PATH="{{$homeDir}}/.local/share/chezmoi/wallpapers.tar"

if [ ! -e "$BASE_DIR" ]; then
    mkdir $BASE_DIR
fi

for DIR in $USER_DIRS; do
    USER_DIR="$BASE_DIR/$DIR"
    if [ -e "$USER_DIR" ]; then
        continue
    fi

    mkdir $USER_DIR
done

if [ -e "$WALLPAPERS_PATH" ]; then
    command -v tar > /dev/null || exit 1

    WP_DIR="$BASE_DIR/pictures/wallpapers"
    mkdir $WP_DIR
    tar --directory $WP_DIR --extract --file $WALLPAPERS_PATH
fi
