@import url("./style/theme.css");

* {
	font-family: Roboto Serif Nerd;
	font-size: 14px;
}

window#waybar {
	background-color: @background;
	color: @foreground;

	transition-property: background-color;
	transition-duration: .5s;
}

window#waybar.hidden {
	opacity: 0.2;
}

button {
	border: none;
	border-radius: 0;
}

.modules-left > widget:first-child > #workspaces {
	margin-left: 0;
}

.modules-right > widget:last-child > #workspaces {
	margin-right: 0;
}

@import url("./style/modules.css");
