label.module {
	background-color: @highlight-background;
	color: @highlight-foreground;

	padding: 5px 5px;
}

@import url("./modules/sway-workspaces.css");
@import url("./modules/sway-mode.css");

@import url("./modules/sway-window.css");

@import url("./modules/tray.css");
